<div class="container">
  <div class="input">
    <label>
      <span>Hours</span>
      <input [OnlyNumber]=true [(ngModel)]="hours" />
    </label>

    <label>
      <span>Minutes</span>
      <input [OnlyNumber]=true [(ngModel)]="minutes" />
    </label>

    <label>
      <span>Seconds</span>
      <input [OnlyNumber]=true [(ngModel)]="seconds" />
    </label>
  </div>

  <button mat-raised-button color="primary" *ngIf="!isShuttingDown" (click)="shutDown()">
    Plan shutdown
  </button>

  <button mat-raised-button color="primary" *ngIf="isShuttingDown" (click)="abortShutDown()">
    Cancel shutdown
  </button>

</div>
