.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input {
    display: flex;
    flex-direction: 'row';
    margin-bottom: 30px;

    .field {
      width: 100px;
      margin-right: 20px;
    }
  }

}
